<div class="w-full flex justify-between gap-20 items-center m-auto h-[80vh]">
  <div>
    <h2 class="text-7xl font-extrabold text-[#415161]">Customized</h2>
    <h3 class="text-7xl font-extrabold text-[#415161] mt-6">Printed Tees</h3>

    <p class="mt-6 bg-[#f2295b] text-white font-medium text-lg w-[600px]">
      Nam at congue diam etiam erat lectus, finibus eget commodo quis, congue
      diam etiam erat lectus.
    </p>
    <div class="mt-6">
      <app-button
        variant="secondary"
        [text]="'Explore More'"
        (onClick)="addUser()"
      ></app-button>
    </div>
  </div>
  <div class="h-[600px] w-[600px]">
    <img
      class="w-full h-full object-cover"
      src="/assets/hero-section-image.png"
      alt=""
    />
  </div>
</div>
