<div class="w-full">
  <div class="h-[150px] w-full bg-[#415161] flex justify-center items-center">
    <div
      class="flex flex-col justify-center items-center max-w-[1400px] w-full m-auto"
    >
      <div class="w-full flex justify-between items-center">
        <ul class="flex flex-col gap-2">
          <li class="text-decoration-none list-none">
            <a
              class="text-decoration-none font-medium text-[#FFFFFF] cursor-pointer hover:text-[#f2295b] no-underline transition-all"
              routerLink="{{ navbarLinks[0].link }}"
            >
              {{ navbarLinks[0].title }}</a
            >
          </li>
          <li class="text-decoration-none list-none">
            <a
              class="text-decoration-none font-medium text-[#FFFFFF] cursor-pointer hover:text-[#f2295b] no-underline transition-all"
              routerLink="{{ navbarLinks[1].link }}"
            >
              {{ navbarLinks[1].title }}</a
            >
          </li>
        </ul>

        <ul class="flex flex-col gap-2">
          <li class="text-decoration-none list-none">
            <a
              class="text-decoration-none font-medium text-[#FFFFFF] cursor-pointer hover:text-[#f2295b] no-underline transition-all"
              routerLink="{{ navbarLinks[2].link }}"
            >
              {{ navbarLinks[2].title }}</a
            >
          </li>
          <li class="text-decoration-none list-none">
            <a
              class="text-decoration-none font-medium text-[#FFFFFF] cursor-pointer hover:text-[#f2295b] no-underline transition-all"
              routerLink="{{ navbarLinks[3].link }}"
            >
              {{ navbarLinks[3].title }}</a
            >
          </li>
        </ul>

        <div class="flex items-center gap-4">
          <div
            class="h-[35px] w-[35px] flex justify-center items-center bg-white cursor-pointer"
          >
            <span class="text-xl pi pi-facebook text-[#415161]"></span>
          </div>
          <div
            class="h-[35px] w-[35px] flex justify-center items-center bg-white cursor-pointer"
          >
            <span class="text-xl pi pi-twitter text-[#415161]"></span>
          </div>
          <div
            class="h-[35px] w-[35px] flex justify-center items-center bg-white cursor-pointer"
          >
            <span class="text-xl pi pi-instagram text-[#415161]"></span>
          </div>
          <div
            class="h-[35px] w-[35px] flex justify-center items-center bg-white cursor-pointer"
          >
            <span class="text-xl pi pi-google text-[#415161]"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="h-[80px] w-full bg-[#FFFFFF] flex justify-center items-center">
    <div
      class="max-w-[1200px] w-full flex justify-between items-center text-[#415161] font-medium"
    >
      <p class="cursor-pointer">Copyright 2024 Zuhair</p>
      <p class="cursor-pointer">Powered by zuhair</p>
    </div>
  </div>
</div>
